@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

header {
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/hero-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 13em;
    text-transform: uppercase;
}

nav img {
    margin: 1em;
    height: 6.5em;
    float: left;
    filter: invert(100%);
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 8.5em;
}

nav ul li {
    margin: 1em;
    list-style: none;
}

.headerNavA {
    padding: 0.5em;
    text-decoration: none;
    color: white;
}
.headerNavA:hover {
    color: white;
    border-bottom: solid 0.15em orange;
}

h1, h2, h3 {
    display: block;
    width: 100%;
}

h1 {
    padding: 0 6em;
    font-size: 2.5em;
    color: white;
    text-transform: uppercase;
}

.headerA {
    font-size: 0.4em;
    border: solid 0.1em orange;
    border-radius: 2em;
    padding: 0.75em 2em;
    background-color: transparent;
    color: orange;
    text-decoration: none;
}
.headerA:hover {
    background-color: orange;
    color: white;
}

section {
    display: flex;
    flex-flow: row wrap;
}

h2 {
    margin-top: 2em;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 2em 45em;
    width: 12em;
    border: solid 0.15em orange;
}

article {
    width: 30%;
    margin: 1em;
    box-shadow: 0 0 1em black;
}

#features p {
    padding: 0.5em;
}

mark {
    font-size: 2em;
}

footer {
    background-color: teal;
}

.backgroundImg {
    background-color: darkslategrey;
    background-position: cover;
}

.backgroundBlanc {
    background-color: white;
}

.backgroundGris {
    background-color: grey;
}

.imgContainer {
    overflow: hidden;
}

.smile {
    list-style-image: url("");
}
.star {
    list-style-image: url("");
}
.bird {
    list-style-image: url("");
}

.customers p {
    font-style: italic;
}

.customers p::before {
    content: '"';
}

#prices article section{
    background-color: burlywood;
}

.checked {
    list-style-image: url("");
}
.notChecked {
    list-style-image: url("");
}